.help {
    padding: 90px 0;
    background-color: #F2F0F1;
    @media (max-width: 768px) {
        padding: 60px 0;
    }
    @media (max-width: 480px) {
        padding: 30px 0;
    }
    &__container {
        max-width: 1000px;
        margin: 0 auto 0 155px;
    }
    &__title {
        text-align: center;
        color: $orange;
        margin-bottom: 50px;
        @media (max-width: 1150px) {
            margin-bottom: 40px;
        }
        @media (max-width: 768px) {
            margin-bottom: 30px;
        }
        @media (max-width: 480px) {
            margin-bottom: 10px;
        }
    }
    &__list {
        list-style-type: none; 
        counter-reset: my-counter;
        margin-bottom: 50px;
        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
    }
    &__button {
        display: block;
        margin: 0 auto;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
        // margin-bottom: 50px;
        @media (max-width: 1100px) {
            // margin-bottom: 30px;
        }
        @media (max-width: 870px) {
            grid-template-columns: 1fr;
        }
    }
    &__content {
        max-width: 450px;
        padding-left: 100px;
        @media (max-width: 768px) {
            max-width: 700px;
            padding-left: 80px;
            // padding-left: 80px;
        }
        @media (max-width: 580px) {
            padding-left: 48px;
        }
    } 
    &__gallery {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
        'rabbit rabbit dog_2 dog_2 dog_2 dog_2'
        'dog_1 dog_1 dog_2 dog_2 dog_2 dog_2';
        gap: 20px;
        align-items: stretch;
        // height: 298px;
        // min-width: 580px;
        @media (max-width: 1150px) {
            // min-width: 480px;
        }
        @media (max-width: 768px) {
            height: 391px;
        }
        @media (max-width: 580px) {
            display: none;
        }
    }
    &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        &--01 {
            grid-area: rabbit;
        }
        &--02 {
            grid-area: dog_2;
            // height: 298px;
        }
        &--03 {
            grid-area: dog_1;
        }
    }
    &__row {
        display: flex;
        gap: 20px;
        align-items: center;
        @media (max-width: 850px) {
            flex-direction: column-reverse;
        }
    }
    &__figure {
        flex: 0 1 50%;
        height: 349px;

}
}

.help__swiper {
    display: none;
    @media (max-width: 580px) {
        display: block;
    }
    
}

.swiper__wrapper {
    display: flex;
}

// .swiper {
//     width: 540px;
//     height: 410px;
// }

.swiper1 {
    width: 295px;
    height: 131px;
}

.swiper2 {
    width: 295px;
    height: 131px;
}

.guardian__swiper {
    display: none;
    @media (max-width: 580px) {
        display: block;
    }
}

.guardian__slide--1 {    
    width: 130px;
    height: 160px;
}

.guardian__slide--2 {    
    width: 218px;
    height: 160px;
}

.guardian__slide--3 {    
    width: 225px;
    height: 160px;
}

.volunteer__image {
    width: 100%;
    @media (max-width: 1100px) {
        width: 400px;
        height: 349px;
    }
}

.second__text {
    flex: 0 1 50%;
    @media (max-width: 768px) {
        padding-left: 80px;
    }
    @media (max-width: 480px) {
        padding-left: 48px;
    }
}

.first {
    position: relative;
    /* max-width: 450px; */
    // padding-left: 100px;
    margin-bottom: 50px;
    @media (max-width: 1100px) {
        margin-bottom: 30px;
    }
    @media (max-width: 768px) {
        margin-bottom: 50px;
    }
    @media (max-width: 480px) {
        margin-bottom: 30px;
    }
}

.second {
    position: relative;
    /* max-width: 643px; */
    /* padding-left: 100px; */
    margin-bottom: 50px;
    @media (max-width: 1100px) {
        margin-bottom: 30px;
    }
}

.third {
    position: relative;
    /* max-width: 540px; */
    // padding-left: 100px;
}

.item__title {
    font-weight: 550;
    font-size: 30px;
    line-height: 40px;
    color: $color-text;
    line-height: 80px;
    // margin-bottom: 30px;
    @media (max-width: 1150px) {
        font-size: 24px;
    }
    @media (max-width: 768px) {
        font-size: 18px;
        line-height: 60px;
    }
    @media (max-width: 480px) {
        line-height: 38px;
    }

    &_second {
        padding-left: 100px;
        margin-bottom: 30px;
        line-height: 80px;
        @media (max-width: 768px) {
            line-height: 60px;
            padding-left: 80px;
        }
        @media (max-width: 480px) {
            line-height: 38px;
            padding-left: 48px;
            margin-bottom: 10px;
        }
    }
    &:before {
        position: absolute;
        left: 8px;
        content: counter(my-counter); 
        counter-increment: my-counter;
        font-family: "Comfortaa";
        font-size: 50px;
        font-weight: 400;
        color: $orange;
        line-height: 80px;
        border-radius: 50%;
        background-color: #ffffff;
        width: 80px;
        height: 80px;
        display:inline-flex;
        align-items:center;
        justify-content: center;
        @media (max-width: 768px) {
            width: 60px;
            height: 60px;
            font-size: 34px;
            line-height: 40px;
        }
        @media (max-width: 480px) {
            width: 38px;
            height: 38px;
            font-size: 24px;
            line-height: 30px;
        }
    }
}

.item__text {
    &_bold {
        font-weight: 550;
        margin-bottom: 20px;
    }
}

.guardian__galery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'guardian-01 guardian-02'
    'guardian-01 guardian-03';
    column-gap: 20px;
    row-gap: 20px;
    align-items: stretch;
    min-width: 580px;
    @media (max-width: 1150px) {
        // grid-template-columns: 180px 180px;
        // min-width: 380px;
        // height: 246px;
        row-gap: 12px;
        min-width: unset;
    }
    @media (max-width: 870px) {
        row-gap: 20px;
        // grid-template-columns: 300px 380px;
        grid-template-rows: 230px 241px;
    }
    @media (max-width: 580px) {
        display: none;
    }
}

.guardian-01 {
    max-height: 382px;
    grid-area: guardian-01;
    @media (max-width: 1150px) {
        height: 244px;
    }
    @media (max-width: 850px) {
        height: 491px;
        max-height: none;
    }
    
}

.guardian-02 {
    max-height: 181px;
    grid-area: guardian-02;
    @media (max-width: 1150px) {
        height: 117px;
    }
    @media (max-width: 850px) {
        height: 230px;
        max-height: none;
    }
}

.guardian-03 {
    max-height: 181px;
    grid-area: guardian-03;
    @media (max-width: 1150px) {
        height: 117px;
    }
    @media (max-width: 850px) {
        height: 241px;
        max-height: none;
    }
}

.guardian__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    @media (max-width: 1100px) {
        align-items: end;
        // grid-template-columns: 480px 380px;
    }
    @media (max-width: 850px) {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

.guardian__content {
    padding-left: 100px;
    // padding-top: 22px;
    @media (max-width: 850px) {
        padding-left: 80px;
    }
    // @media (max-width: 580px) {
    //     padding-left: 48px;
    // }
}

